<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.udc.cartolab.gvsig.elle"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		
		<extension class-name="es.icarto.gvsig.viasobras.CatalogExtension" description="FORMS_PANEL" active="true">
			<menu text="Vías e Obras/Catálogo"
				position="01"/>
			<tool-bar name="ViasObrasLugo">
				<action-tool icon="viasobras-catalog" tooltip="Catálogo"
					action-command="Catalog" position="50"/>
			</tool-bar>
		</extension>

		<extension class-name="es.icarto.gvsig.viasobras.QueriesActuacionsExtension" description="FORMS_PANEL" active="true">
			<menu text="Vías e Obras/Consultas/Actuacións"
				position="02"/>
		</extension>		

		<extension class-name="es.icarto.gvsig.viasobras.QueriesEstadoExtension" description="FORMS_PANEL" active="true">
			<menu text="Vías e Obras/Consultas/Estado actual"
				position="03"/>
			<tool-bar name="ViasObrasLugo">
				<action-tool icon="viasobras-queries-estado" tooltip="Consultas estado actual"
					action-command="QueriesEstado" position="60"/>
			</tool-bar>
		</extension>		
		
		<extension class-name="es.icarto.gvsig.viasobras.FormActuacionsExtension" description="FORMS_PANEL" active="true">
			<menu text="Vías e Obras/Información/Actuacións"
				position="04"/>
		</extension>

		<extension class-name="es.icarto.gvsig.viasobras.FormEstradasExtension" description="FORMS_PANEL" active="true">
			<menu text="Vías e Obras/Información/Estradas"
				position="05"/>
		</extension>

	</extensions>
</plugin-config>
