<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.udc.cartolab.gvsig.elle"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.icarto.gvsig.navtableforms"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.icarto.gvsig.viasobras.ImportacionExtension" description="FORMS_PANEL" active="true">
			<menu text="Vias e Obras/Importar datos"
				position="01"/>
			<tool-bar name="Catalogo carreteras">
				<action-tool icon="viasobras-inventario" tooltip="Importar datos"
					action-command="Importacion" position="50"/>
			</tool-bar>
		</extension>
		<extension class-name="es.icarto.gvsig.viasobras.InventarioExtension" description="FORMS_PANEL" active="true">
			<menu text="Vias e Obras/Inventario"
				position="02"/>
			<tool-bar name="Catalogo carreteras">
				<action-tool icon="viasobras-inventario" tooltip="Inventario"
					action-command="Inventario" position="60"/>
			</tool-bar>
		</extension>
		<extension class-name="es.icarto.gvsig.viasobras.MantementoCarreterasExtension" description="FORMS_PANEL" active="true">
			<menu text="Vias e Obras/Mantemento carreteras"
				position="03"/>
			<tool-bar name="Catalogo carreteras">
				<action-tool icon="viasobras-inventario" tooltip="Mantemento carreteras"
					action-command="MantementoCarreteras" position="70"/>
			</tool-bar>
		</extension>
	</extensions>
</plugin-config>
